
@use 'colors';

@mixin hover-btn {
    &:hover {
      background-color: colors.$linksColor;
      color: colors.$buttonsTextChangeColor;
      box-shadow: 0 4px 6px colors.$buttonsColor;
    }
}

@mixin btn-color ($color: colors.$buttonsColor) {
  background-color: $color;


}