
/* GENERAL, FUENTES Y COLORES */

/* TEXTO */
$fontFamily: "Inter", sans-serif;

$textColor: #383938;

/* COLORES */

$pageBackground: #f9fafa;

$linksColor: #eef7f4;

$buttonsColor: #80aa9f;

$buttonsTextChangeColor: $buttonsColor;

$buttonTextColor: #0d493a;

$lineSeparatorColor:  #c6dcd5;



