
/* GENERAL, FUENTES Y COLORES */

/* TEXTO */
$fontFamily: "Inter", sans-serif;

$textColor: #383938;

/* COLORES */

$pageBackground: #f0f7f5;

$linksColor: #eef7f4;

$buttonsColor: #80aa9f;

$buttonsTextChangeColor: $buttonsColor;

$buttonTextColor: #0d493a;

$lineSeparatorColor:  #c6dcd5;

/* Gradientes verdes */
$greenLight: #a8d5ba;
$greenMedium: #80aa9f;
$greenDark: #5a8a7a;
$greenVeryLight: #e8f5ed;



