/* FOOTER */

@use 'colors';

.footer {
    background: linear-gradient(135deg, colors.$greenMedium 0%, colors.$greenDark 100%);
    font-family: colors.$fontFamily;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
    color: white;
}


.footerText {
    height: inherit;
    display: flex;
    margin-left: 15px;
    align-items: center;

}

.footerText p {
    height: inherit;
    margin-top: 25%;
    color: white;
}


.footerItem {
    display: flex;
    align-items: center;
   
}

.bottomSocial {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
