

/* MAIN */

.main {
    min-height: 75vh;
    display:flex;
    width: 100%;
    justify-content: center;
}

p {
    color: #343a40;
}


/* MENU DE NAVEGACION SUPERIOR*/


.navbar {
    display: flex;
    height: 10vh;
}

@media (max-width: 767.98px) {
    .navbar-collapse {
      justify-content: right !important;
      text-align: right;
    }
  
    .navbar-nav {
      width: 100%;
      flex-direction: column;
 
    }
  
    .nav-link {
      padding: 0.5rem 1rem;
    
    }
  }


/* MENU DE NAVEGACION INFERIOR*/

.footer {
    height: 10vh; 
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.footerText {
    align-items: center;
    margin: 5px 15px;
}

.footerItem {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.bottomSocial {
    width: 70px;
    height: 40px;
}

/* HOME */


.mainIndex {
    display: flex;
    height: inherit;
}

.mainIndexImage {
    display: flex;
    align-items: center;
    width: 30%;
}

.mainIndexParagraph {
    display: flex;
    height: inherit;
    width: 70%;
}

.mainIndexParagraph p {
    text-align: center;
    margin: 5%;
}

/* REPORTAR Y BUSCAR*/


.mainReportar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: inherit;
    width: inherit;
}


.form-control:focus {
    box-shadow: 0 0 0 .25rem #d1e7dd;
}

.form-check-input:checked {
    border-color: #d1e7dd ;
    background-color: rgb(25, 135, 84);
}
/* 
.mainReportarRight {
    display: flex;
    height: inherit;
    flex-direction: column;
} */



/* 

--PRUEBA DE GRILLAS PARA REPORTAR ANIMALES PRE-BOOTSTRAP

.gridForm {
    display: grid;
    width: inherit;
    align-self: center;
    grid-template-areas:    'labelPerdido radioPerdido labelEncontrado radioEncontrado'
                            'labelTipo labelTipo selectTipo selectTipo'
                            'labelRaza labelRaza inputRaza inputRaza'
                            'labelNombreAnimal labelNombreAnimal inputNombreAnimal inputNombreAnimal'
                            'labelDescripcion labelDescripcion textAreaDescripcion textAreaDescripcion'
                            'labelDescripcion labelDescripcion textAreaDescripcion textAreaDescripcion'
                            'labelFoto labelFoto inputFoto inputFoto';
    gap: 15% 5%;
}

.gridFormBuscar {
    display: grid;
    width: inherit;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-areas:    'labelPerdido radioPerdido labelEncontrado radioEncontrado'
                            'labelTipo labelTipo selectTipo selectTipo'
                            'labelRaza labelRaza inputRaza inputRaza'
                            'labelFoto labelFoto inputFoto inputFoto';
    gap: 15% 5%;
}

.labelPerdido {
    grid-area: labelPerdido;
}
.radioPerdido {
    grid-area: radioPerdido;
}
.labelEncontrado {
    grid-area:labelEncontrado;
}
.radioEncontrado {
    grid-area:radioEncontrado;
}
.labelTipo {
    grid-area:labelTipo;
}
.selectTipo {
    grid-area:selectTipo;
}
.labelRaza {
    grid-area: labelRaza;
}
.inputRaza {
    grid-area:inputRaza;
}
.labelNombreAnimal {
    grid-area:labelNombreAnimal;
}
.inputNombreAnimal {
    grid-area:inputNombreAnimal;
}
.labelDescripcion {
    grid-area:labelDescripcion;
}
.textAreaDescripcion {
    grid-area: textAreaDescripcion;
}
.labelFoto {
    grid-area:labelFoto;
}
.inputFoto {
    grid-area:inputFoto;
} */


/* CONTACTO */

.mainContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: 80%;
}

.mainContactoTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContactoBottom {
    display: flex;
}




/* SPONSORS */

.mainContactoBottom {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.mainContactoBottom img {
    width: 20%;
    height: 40%;
}